.CancelBtn {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900; 
    font-size: 15px; 
    color: #717FA6; 
    border: none; 
    background-color: white; 
    cursor: pointer; 
}

@media screen and (min-width: 1440px) {
    .CancelBtn:hover {
        color: #1F2E55; 
        font-size: 15px; 
    }
}