.OrderSummary{
    display:flex; 
    flex-direction: column; 
    width: 327px; 
    height: 564px; 
    border-radius: 20px; 
    overflow: hidden; 
    background-color: #fff; 
    margin-top: 70px; 
    box-shadow: 0px 4px 5px #717FA6;
  
}

.mainContainer {
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    padding: 0 24px 0 24px ; 
}

@media screen and (min-width: 1440px) {
    .OrderSummary {
        width: 450px; 
        height: 700px; 
    }
}