.OrderSummary{
    display:flex; 
    flex-direction: column; 
    width: 327px; 
    height: 564px; 
    border-radius: 20px; 
    overflow: hidden; 
    background-color: #fff; 
    margin-top: 70px; 
  
}

.mainContainer {
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    padding: 0 32px 0 32px; 
}