.OrderSummary{
    display:flex; 
    flex-direction: column; 
    justify-content: center;
    width: 327px; 
    height: auto; 
}

.mainContainer {
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    padding: 0 32px 0 32px; 
}