.TextPresentation {
    display:flex; 
    flex-direction: column;
    justify-content: center;
    width: 263px;
    align-self: center; 
}

.textPresentationTitle {
    font-family: 'Red Hat Display', sans-serif;
    color: #1F2E55; 
    font-size: 22px; 
    font-weight: 700; 
    text-align: center; 
}

.textPresentationParagraph {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500; 
    font-size: 15px; 
    color: #717FA6; 
    text-align: center; 
}